<%- include('partials/_header')%>

<form action="/uploadphotos" enctype="multipart/form-data" method="POST">
    <input type="file" name="file"  />
<input type="submit" value="Upload Image" name="submit">
</form>


<%- include('partials/_footer')%>